{% extends "layouts/base.html" %}

{% block title %}
My Orders
{% endblock %}




<!--


        <div class="col-lg-4 shadow  mx-auto p-0 mt-5">
        <div class="alert alert-info"> 
          <h2> Place a Order</h2>
        </div>
        <div class="p-4">
            <form method="post" action="/add-order/" %}">
                {% csrf_token %}          
                {{ form.as_p }}
                <hr>
                <input class="btn btn-info" type="submit" value="Add">
            </form>
        </div>
      </div>
      
-->



{% block content %}


<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
  <div class="d-block mb-4 mb-md-0">
      <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
          <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
              <li class="breadcrumb-item">
                  <a href="{% url 'home' %}">
                      <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                      Home
                  </a>
              </li>

              <li class="breadcrumb-item active" aria-current="page">My Orders</li>
          </ol>
      </nav>

  </div>

</div>


  <h1> My Orders</h1>


  <! p-0 is zero padding; mt-4 is margin; pt-4 is padding from top -->
  <div class="container pt-4">


      <div class="col mt-5" >
        <div class="border">

          {% if orders|length == 0 %}

            <div class="p-5">
              <br>
              <br>
              <div class="alert alert-info text-center">
                <h1 class="display-4" style="font-size:25px">You do not have any orders yet.</h1>
              </div>
              <br>
              <br>
            </div>

          {% else %}
            
            <div>
              <table class="table table-striped table-light">
                <thead>
                  <tr class="text-white">
                    <th scope="col">Sn</th>
                    <th scope="col">Name</th>
                    <th scope="col">Plan</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
              
                <tbody>
                  {% for order in orders %}
                    <tr>
                      <th scope="row">{{forloop.counter}} )</th>
                      <td > <a href="nimto/{{order.id}}"> <strong> <u> {{order.order_name}}</u> </strong>  </a></td>
                      <td>{{order.plans}}</td>
                      <td>
                          <a href="" title="Detail Info" class="">ℹ️</a>&nbsp; &nbsp;  
                          <a href="viewAs/{{order.id}}/" title="View As"  >👁️</a>&nbsp; &nbsp;  
                          
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              
              </table>
            </div>
          {% endif %}
        
       </div> 
      </div>

   
  </div>


{% endblock %}
