{% extends 'marriage/theme01_base.html' %}

{% load i18n %}

{% load static %}
{% get_static_prefix as STATIC_PREFIX %}


<!-- ==== Changing header image ==== -->

<!--
  FOr getting domain related data
   request.scheme               # http or https
    request.META['HTTP_HOST']    # example.com
    request.path                 # /some/content/1/

-->


{% block mystyle %}




  #headerwrap {
    background: url({{ request.scheme }}://{{ request.META.HTTP_HOST }}{{data.header_image.url}}) no-repeat center top;
    margin-top: -50px;
    padding-top: 120px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 850px;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 100px;
  }


{% endblock mystyle %}
    



<!-- ==== TITLE ==== -->

{%block title%} 
Ram weds sita|{{inviteeObj.name}}

{%endblock title%}


<!-- ==== JAVASCRIPT ==== -->
{%block writescript%}


//Code of ajax

$(document).ready(function(){


    // If User has already wished then Hide the Wish Submitting form
    {% if alreadyWished == 1 %}
      $("#wishFormSection").hide();
    {% endif %}

    $("#wishDelBtn").click(function(){

      const xhr=new XMLHttpRequest();
      xhr.open("GET","{% url 'wishCD' %}",true);

      console.log(xhr.response.status);
      
      xhr.responseType="json";
      xhr.onload=()=>{
        if(xhr.status === 200){
          console.log(xhr.response.status);

          if (xhr.response.status=="1"){

          // Remove the Deleted Wish 
          $(this).closest('.card').fadeOut(2400, function(){
            $(this).remove();
          });
          // Show the Wish form to accept Wishes
          $("#wishFormSection").fadeOut(500, function(){
            $(this).fadeIn(2500);

          });
          }

        }else{
          console.log("Some thing went wrong....");
        }
      };
      xhr.send();

  });

  

});



function validate() {

  var wish =  document.wishForm.wishField.value.trim(); 
  if( wish.length < 3 ) {
     alert( "Please provide your wishes" );
     document.wishForm.wishField.focus() ;
     return false;
  }
  return( true );
}

// Code for raining animation
var count=0;   // 0: !raining &  1: raining
var createHeartVar='';
function createHeart(){

    const heart = document.createElement('div');
    heart.classList.add('heart');

    heart.style.left = Math.random() * 100 + "vw";
	  heart.style.color=`hsl(${Math.floor(Math.random()*360)}, 100%, 50%)`;

    // to make animation between 2 to 5 seconds
    heart.style.animationDuration = Math.random()*2 +3 +"s"
    heart.innerText='🇳🇵🇳🇵 सिता ♥️ राम 🇳🇵🇳🇵';
    document.body.appendChild(heart);

    setTimeout(()=>{
        heart.remove();
    },5000);
}
function heartController(){
  if (count === 0){
    count=1;
    createHeartVar=setInterval(createHeart,300);
  }else{
    count=0;
    clearInterval(createHeartVar);
  }

}

//setInterval(createHeart,300)

// CODE TO REMEMBER CLICKED IMAGES OF GALLERY
function onGalleryImageClicked(location,title,desc){
  document.querySelector(".modal-title").innerHTML=title;
  document.querySelector("#modal-desc").innerHTML=desc;
  document.querySelector("#modal-image").src=location;

}





{%endblock writescript%}







<!-- ==== NAVBAR ==== -->
{%block navbar%}

<div class="navbar-header">
  <div class="pull-left logo">
    <a class="" onhover = "cursor: pointer;" onclick = "return(heartController());"><img src="{{data.title_image.url}}" /></a>
  </div>
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
</div>

<div class="navbar-collapse collapse">
  <ul class="nav navbar-nav pull-right">
    <li><a href="#home-section" class="smoothScroll">{% trans 'Welcome' %}</a></li>
    <li> <a href="#services" class="smoothScroll">{% trans 'Events' %}</a></li>		  
    <li> <a href="#about" class="smoothScroll">{% trans 'About Us' %}</a></li>
    <li> <a href="#portfolio" class="smoothScroll">{% trans 'Gallery' %}</a></li>
    <li> <a href="#team" class="smoothScroll">{% trans 'Testimonials' %}</a></li>
    <li> <a href="#contact" class="smoothScroll">{% trans 'Place' %}</a></li>
    <li> <a href="#wishes" class="smoothScroll">{% trans 'Wishes' %}</a></li>

  </ul>
</div>

{%endblock navbar%}



<!-- ==== HEADERWRAP ==== -->

{%block headwrap%}
  <h1>Ram & Sita </h1>
  <p>{% trans 'We are getting Married on' %} {{data.marry_date_text}} </p>
  {%endblock headwrap%}




<!-- ==== EVENTS ==== -->

{%block services%}
  <h2 class="centered">{% trans 'EVENTS' %}</h2>
  <hr>
  <div class="col-lg-8 col-lg-offset-2">
    <img src="{% static 'Marriage/images/misc/ganesh.png' %}" alt="Ganesh Image" width="200" height="200">
    <h3> वक्रतुंड महाकाय कोटिसूर्यसमप्रभ । निर्विघ्नं कुरु मे देव सर्वकार्येषु सर्वदा ॥ </h3>
    
    <p class="large">“Oh! Lord (Ganesha), of huge body and curved elephant trunk, whose brilliance is equal to billions of suns, always remove all obstacles from my endeavors.”</p>
  
  </div>
  <div class="col-lg-4 callout"> <i class="fa fa-users fa-3x"></i>
    <h3>{% trans 'Engagement' %}</h3>
    <p> {{data.engagement_date}}</p>
  </div>
  <div class="col-lg-4 callout"> <i class="fa fa-bell fa-3x"></i>
    <h3>{% trans 'Wedding Day' %}</h3>
    <p>{{data.wedding_day}} <br/>
      {% trans 'Janti Prasthan' %} - {{data.janti_prasthan_time}} <br/>
      {{data.janti_prsthan_place}}
    </p>

  </div>
  <div class="col-lg-4 callout"> <i class="fa fa-star fa-3x"></i>
    <h3>{% trans 'Reception' %}</h3>
    <p>{{data.reception_date}}<br/>
      {{data.reception_time}} <br/>
      {{data.reception_place}}</p>
  </div>

{%endblock services%}



<!-- Invitaion Message Section --> 
<!-- else part is for view as section --> 

{%block InvitationMessage%}
  <div class="row col-sm-5">

    {%if inviteeObj%}

      <p><b>{{inviteeObj.gender}} {{inviteeObj.name}}</b>,</br>
      {{inviteeObj.address}}</p>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
        <label class="form-check-label" for="flexCheckChecked">
        <p><b>({{inviteeObj.inviteStatus}} )</b>
        </label>

      </div>
    {% else %}

      <p><b>Dr. Rabindra Khanal</b>,</br>
        Butwal-18, Nepal</p>
      
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
          <label class="form-check-label" for="flexCheckChecked">
          <p><b>( Wedding )</b>
          </label>
        </div>

    {% endif %}


  </div>
  <div class="row col-sm-7 ">
    <h4 class="text-info"> {{inviteeObj.invitee_message}} </h4>
  </div>
{%endblock InvitationMessage%}


<!-- ==== ABOUT ===={% static 'Marriage/images/data/s.png' %} -->

{%block about%}

  <h2 class="centered">{% trans 'ABOUT US' %}</h2>
  <hr>
  <div class="col-md-6 "> 
    <img class="img-responsive" src= "{{ data.about_us_image.url}}" style="max-height:400px"> </div>
    <div class="col-md-6">
      <h3>{% trans 'Groom' %}</h3>
      <p >{{ data.groom_info}}<br/>
      <b><i>{{ data.groom_address}}</i></b></p>

      <h3>{% trans 'Bride' %}</h3>
      <p>{{ data.bride_info}}<br/>
      <b><i>{{ data.bride_address}}</i></b></p>
  </div>

{%endblock about%}



<!-- ==== PORTFOLIO/ Gallary ==== -->

{%block gallery%}

<div class="row">
  <h2 class="centered">{% trans 'GALLERY' %}</h2>
  <hr>
  <div class="col-lg-8 col-lg-offset-2 centered">
    <p class="large">These photos we shared with you are the best captured moments of our lives. We are looking forward to even more happy moments together.</p>
  </div>
</div>

<!-- /row -->
<div class="container">
  <div class="row"> 
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">title is displayed here.........</h4>
          </div>
          <div class="modal-body">
            <p><img id ="modal-image" class="img-responsive" ></p>
            <p id="modal-desc"> detail is displayed here........... </p> 
          </div> 
        </div>
        <!-- /.modal-content --> 
      </div>
      <!-- /.modal-dialog --> 
    </div>
                <!-- /.modal --> 

              
    
    {%for photo in gallery %}
      <!-- PORTFOLIO IMAGE 1 -->
      <div class="col-md-4 ">
        <div class="grid overlay">
          <figure> <img class="img-responsive" src="{{photo.image.url}}" alt="">
            <figcaption>
              <h5>{{photo.title}}</h5>
              <a data-toggle="modal" href="#myModal" class="btn btn-default" onclick="return(onGalleryImageClicked('{{photo.image.url}}','{{photo.title}}','{{photo.detail}}'));">More Details</a> </figcaption>
            <!-- /figcaption --> 
          </figure>
          <!-- /figure --> 
        </div>
        <!-- /grid-overlay --> 
      </div>
    {%endfor%}



    <!-- /col --> 
  </div>
  <!-- /row --> 
</div>
<!-- /row --> 
{%endblock gallery%}

        





<!-- ==== Testimonials ==== -->

{%block testimonials%}

<div class="row centered">
  <h2 class="centered">{% trans 'TESTIMONIALS' %}</h2>
  <hr>
	<div class="col-lg-8 col-lg-offset-2 centered">
    <p>No relationship is all sunshine, but two people can share one umbrella and survive the storm together.</p>
	  <br/>
  </div>
      
    <div class="col-lg-3 centered"> <img class="img img-circle" src="{{ parents.bride_father_image.url}}" height="120px" width="120px" alt="">
      <h4><strong>Bride's Father</strong></h4>
      <p>  {{parents.bride_father_fullname}}</p>  
    </div>

    <div class="col-lg-3 centered"> <img class="img img-circle" src="{{ parents.bride_mother_image.url}}" height="120px" width="120px" alt="">
      <h4><strong>Bride's Mother</strong></h4>
      <p>  {{parents.bride_mother_fullname}}</p>  
    </div>

    <div class="col-lg-3 centered"> <img class="img img-circle" src="{{ parents.groom_father_image.url}}" height="120px" width="120px" alt="">
      <h4><strong>Groom's Father</strong></h4>
      <p>  {{parents.groom_father_fullname}}</p>  
    </div>

    <div class="col-lg-3 centered"> <img class="img img-circle" src="{{ parents.groom_mother_image.url}}" height="120px" width="120px" alt="">
      <h4><strong>Groom's Mother</strong></h4>
      <p>  {{parents.groom_mother_fullname}}</p>  
    </div>


</div>
<br/>

<table class="table">
  <thead>
    <tr>
      <th scope="col" class="text-body">Hajurbuwa/Hajurama</th>
      <th scope="col" style="font-size: 1.4rem;">{{testi.grand_parents}}</th>
    </tr>
  </thead>
  <thead>
    <tr>
      <th scope="col" class="text-body">Buwaharu</th>
      <th scope="col" style="font-size: 1.4rem;">{{testi.parents}} </th>
    </tr>
  </thead>
  <thead>
    <tr>
      <th scope="col" class="text-body">Dajubhai</th>
      <th scope="col" style="font-size: 1.4rem;">{{testi.brothers}} </th>
    </tr>
  </thead>
  <thead>
    <tr>
      <th scope="col" class="text-body">Didi/Bahini</th>
      <th scope="col" style="font-size: 1.4rem;">{{testi.sisters}} </th>
    </tr>
  </thead>
  <thead>
    <tr>
      <th scope="col" class="text-body">Bhanja/Bhanji</th>
      <th scope="col" style="font-size: 1.4rem;">{{testi.nephews}} </th>
    </tr>
  </thead>
  <thead>
    <tr>
      <th scope="col" class="text-body">Cousins</th>
      <th scope="col" style="font-size: 1.4rem;">{{testi.cousins}} </th>
    </tr>
  </thead>
  <thead>
    <tr>
      <th scope="col" class="text-body">Mamaharu</th>
      <th scope="col" style="font-size: 1.4rem;">{{testi.maternal}} </th>
    </tr>
  </thead>

</table>

{%endblock testimonials%}


<!-- ==== MEETING POINT / PLACE ==== -->

{%block place%}

<div class="row">
  <h2 class="centered">{% trans 'MEETING POINT' %}</h2>
  <hr>
</div>

<div class="row">
  <div class="col-md-7">
	  <strong>{% trans 'Ask how to Reach Us!' %}</strong>
    <p>{{meetingPoint.direction_info}} </p>
        
    <!--Google map भेला स्थल-->
    <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
      <iframe src="https://maps.google.com/maps?q={{meetingPoint.longitude}}, {{meetingPoint.latitude}}&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <!--Google Maps -->
  </div>
	
  <div class="col-md-5">         
	  <i class="fa fa-map-marker fa-2x"></i>
    <strong>{{meetingPoint.palace_name}}</strong>
	  <p>{{meetingPoint.address}}</p><br/> 
	  <i class="fa fa-envelope-o fa-2x"></i>
    <p>{{meetingPoint.email_or_fb_link}}</p><br/> 
	  <i class="fa fa-phone fa-2x"></i>
    <p> {{meetingPoint.contact_num}}</p>     
	</div>
</div>

{%endblock place%}
  
    


<!-- ==== WISHES ==== -->

{%block inviteewish%}

<h2 class="centered">{% trans 'Your Best Wishes' %}</h2><hr>
<section class="hero-section section" id ="wishFormSection">  
  <div class="container">
    <div class="highlight tb">
      <div class="tb-cell">
        <form class="form-inline pull-center" name="wishForm" action="{% url 'wishCD' %}" method="POST">{% csrf_token %}
          <div class="form-group">
            <textarea class="form-control" id="wishField" name="Wish" placeholder="Wishes . . . " rows="4" cols="50" required ></textarea>       
            <button class="btn btn-lg" id="btnwish" type="submit">{% trans 'Submit wish' %}</button>
          </div>
              
        </form> 
      </div>
    </div>
  </div>    
</section>


<!-- Open a whole column of wish display -->



<div class="row" id="wishDisplaySection">

  {% if wishes %}
    {%for wish in wishes %}
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body ">
            <h4 class="card-title ">{{wish.invitee.name}}</h4>
            <div class="card-text bg-success">
              {{wish.wishes}}<br/>
              {% if wish.invitee.secretCode == request.session.guestsession %}
                <a id="wishDelBtn" class="trans-btn"> <i class="fa fa-trash-o fa-2x"aria-hidden="true" ></i>       </a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    {%endfor%}
  {%endif%}
          
</div>
      <!-- Closes a whole column of wish display -->

{%endblock inviteewish%}
    




{%block foottail%}
<div class="col-md-8"> <span class="copyright">{% trans 'Love, laughter and happily ever after.' %}</span> </div>
<div class="col-md-4">
  <ul class="list-inline social-buttons">
    <li><a href="{{contact.twitter_link}}"><i class="fa fa-twitter fa-2x"></i></a> </li>
    <li><a href="{{contact.fb_link}}"><i class="fa fa-facebook fa-2x"></i></a> </li>
    <li><a href="{{contact.yt_link}}"><i class="fa fa-youtube fa-2x"></i></a> </li>
    <li><a href="{{contact.lnkd_link}}"><i class="fa fa-linkedin fa-2x"></i></a> </li>
    <li><a href="javascript:generatePDF()" id="downloadButton"><i class="fa fa-cloud-download fa-3x"></i></a> </li>

  </ul>
</div>

{%endblock foottail%}



<!-- 
  OVerriding theme colors

  .navbar-inverse {
    background-color: #52ffff;
    padding: 20px 0;
    border-color: #F79D9D;
  }
  #about {
  	background: #FFF;
  	padding: 100px 0;
  }

  #services {
  	background: #52ffff;
  	padding: 100px 0;
  	text-align: center;
  }

  #team {
    background: #52ffff;
    padding: 100px 0;
    color: #fff;
  }

  #contact {
    background: #ecdac4;
    padding: 100px 0;
    text-align: center;
  }

  #wishes {
    background: #005757;
    padding: 100px 0;
    text-align: center;
  }

 -->