{% extends "account/base.html" %}
{% load l10n %}
{% load i18n %}
{% load account %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block content %} 

<div class="container pt-4 ct-" >
    <div class="alert alert-info">

        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <br>

        <p>{% blocktrans %}We have sent you an e-mail. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}</p>


    </div>



</div>



{%endblock%}


<!-- This will be displayed after link is sent

<pre>
We just sent a recovery link with instructions to reset your password via email to b***************@gmail.com. 
The recovery link will expire at 8:43AM +0545. 
Thank you.
</pre>

-->
