

{% extends "account/base.html" %}
{% load l10n %}
{% load i18n %}


<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}


{% block title %}{% trans "Reset Password" %}{% endblock %}

{% block content %} 

{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% endif %}



<main>
  <section class="vh-lg-100 mt-5 mt-lg-0 bg-soft d-flex align-items-center">
    <div class="container">

      <p class="text-center">
          <a href="{% url 'home' %}" class="d-flex align-items-center justify-content-center">
              <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z" clip-rule="evenodd"></path></svg>
              {% trans "Back to homepage" %}
              <p class="mt-4">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
          </a>
      </p>

      <div class="row justify-content-center form-bg-image" data-background-lg="/static/assets/img/illustrations/signin.svg">
        <div class="col-12 d-flex align-items-center justify-content-center">
            <div class="bg-white shadow border-0 rounded border-light p-4 p-lg-5 w-100 fmxw-500">
                <div class="text-center text-md-center mb-4 mt-md-0">
                    <h1 class="mb-0 h3">Reset Password </h1>
                </div>
                <form action="{% url 'account_reset_password' %}" method="POST" class="password_reset">
                  
                  {% csrf_token %}
                  {% for fm in form  %}
                  <div class="form-group mb-4">
                    <label for="email">{{fm.label_tag}}</label>
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon1">
                            <svg class="icon icon-xs text-gray-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path><path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path></svg>
                        </span>
                        <input type="email" class="form-control" placeholder="example@company.com" id="email" autofocus required>
                    </div>  
                  </div>
                  <br>
                  {% endfor %}
                  
                </form>

                <div class="d-grid">
                  <button type="submit" name="reset" class="btn btn-gray-800"> {% trans 'Reset My Password' %}"</button>
                </div> 

                <br>
                <p >
                  {% blocktrans %}
                  Please contact us if you have any trouble resetting your password.
                  {% endblocktrans %}
                </p>  

            </div>
        </div>

      </div>
    </div>
  </section>


</main>




{%endblock%}


<!-- To Reset Password -->